<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.uber.tkpdkotlin" >

    <application >
        <activity android:name=".MainKotlinActivity"
          android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>